body {
    color: #3a3838;
    background: #1f3f3f;
    font-family: 'Libre Baskerville', sans-serif;
    }
    .container {
        border: 2px;
        border-style: solid;
        border-color: rgb(171, 202, 197);
        width: 90%;
        margin-left: 5%;
        background: #ecf1e1;
    }
    .well {
        border: 1px;
        border-style: solid;
        border-color: rgb(87, 139, 87);
        width: 100%;
    }
    .topnavigation {
        background-color: #d7dfe2;
        overflow: hidden;
      }
    .topnavigation a {
        float: left;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* #imgs {
        float: right;
    } */
    .column {
        float: left;
        width: 22%;
        margin: 1%; 
        border-right-style: dotted;
        border-color: rgb(87, 139, 87);
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }


