body {
    color: #3a3838;
    background: #1f3f3f;
    font-family: 'Libre Baskerville', sans-serif;
    }
    h2{
        border: 4px;
        border-bottom-style: solid;
        border-color: rgb(42, 100, 90);
        margin:1%;
      }

    h3{
      text-decoration: underline;
    }  
    .container {
        border: 2px;
        border-style: solid;
        border-color: rgb(171, 202, 197);
        width: 90%;
        margin-left: 5%;
        background: #ecf1e1;
    }
    .well {
        width: 100%;
        margin-left: 2%;
    }
    .topnavigation {
        background-color: #d4ddd5;
        overflow: hidden;
      }
    .topnavigation a {
        float: left;
        color: rgb(79, 138, 138);
        text-align: center;
        padding: 14px 16px;
        font-weight: bold;
        font-size: 1em;
    }
    
    .columnnav {
        float: left;
      }

    .column {
        float: left;
        width: 22%;
        margin: 1%; 
        border-right-style: dotted;
        border-color: rgb(87, 139, 87);
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      #head {
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: rgb(79, 138, 138);
      }
      #span {
        float: right;
        margin-top: -6%;
      }
      table {
        width: 100%;
      }

      td {
        text-align: left;
        padding: 3px;
        border-right: 1px solid rgb(87, 139, 87);
      }
      #one{
        background-color: rgb(224, 243, 237);
        margin: 3px;
        padding-bottom: 2%;
        margin: 2%;
        border: 1px;
        border-bottom-style: solid;
        border-color: rgb(155, 197, 190);

      }
      #two{
        background-color: rgb(235, 247, 232);
        margin: 3px;
        padding-bottom: 2%;
        margin: 2%;
        border: 1px;
        border-bottom-style: solid;
        border-color: rgb(155, 197, 190);
      }
      #three{
        background-color: rgb(238, 232, 240);
        margin: 3px;
        padding-bottom: 2%;
        margin: 2%;
        border: 1px;
        border-bottom-style: solid;
        border-color: rgb(155, 197, 190);
      }
      .imgs{
        margin:1%;
      }



